In [9]:
import pandas as pd


url = 'https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv'

# Load the CSV into a DataFrame
df = pd.read_csv(url)

In [10]:
num_columns = df.shape[1]
print("Number of columns in the DataFrame:", num_columns)

Number of columns in the DataFrame: 12

In [11]:
mean_price = df['price'].mean()
print("Mean of the house prices:", mean_price)

Mean of the house prices: 234144.26395939087

In [12]:
median_price = df['price'].median()
print("Median of the house prices:", median_price)

Median of the house prices: 213750.0

In [13]:
property_types = df['type'].unique()
print("Different types of property:", property_types)

Different types of property: ['Residential' 'Condo' 'Multi-Family' 'Unkown']

In [14]:
max_condo_price = df[df['type'] == 'Condo']['price'].max()
print("Maximum price of a condo:", max_condo_price)

Maximum price of a condo: 360000

In [15]:
mean_price_by_type = df.groupby('type')['price'].mean()
print("Mean price by property type:\n", mean_price_by_type)

Mean price by property type:
 type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

In [16]:
count_by_property_type = df['type'].value_counts()
print("Count of different property types:\n", count_by_property_type)

Count of different property types:
 type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64